@model IEnumerable<WebApplication1.Models.info_json>
@{
    ViewBag.Title = "Home Page";
}
<h2>空氣品質監測月值</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemEngName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitorMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concentration)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemEngName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonitorMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concentration)
            </td>
        </tr>
    }
</table>
